<%= content_for(:title, "Edit Question | Stack Overflow" ) %>

<h3>Edit Question</h3>

 <%= render "form" %>

 <br>
 <br>
 <p><%= link_to "Add a New Question", new_question_path, :class => "btn btn-default" %></p>
