<%= content_for(:title, "Show Questions | Stack Overflow") %>

<p>User  user.name  asked:</p>
<h3><i> <%= @question.question %> </i></h3>

<p>"This is where answers will go (ordered list, maybe with date stamps)"</p>
<br>
<p> <%= link_to "Edit Question", edit_question_path(@question), :class => "btn btn-default" %> </p>

<p> <%= link_to "Delete Question", question_path(@question),
                          :data => { :confirm => "Are You Sure? This will permanently delete the item.",
                          :method => "delete" },
                          :class => "btn btn-danger" %> </p>
<br>
<p><a href="/questions">View All Questions</a></p>
